# Python Basics

## Datastructures

First we start with something lazy that does't do anything, a comment.

In [3]:
# This is a pyhton comment

### Strings

In [5]:
my_string = "Foo"
another_string = 'bar'

new_string = my_string +' '+ another_string

In [6]:
print(new_string)

FoobarFoobar

### Numbers
Python supports all kinds of numbers. One little pifall is that numbers without a decimal point are interpreted as integers.

In [14]:
pi =  3.1415
x = 3
y = 3.
z = (1.5 + 5j)

print type(pi)
print type(x)
print type(y)
print type(z)

<type 'float'>
<type 'int'>
<type 'float'>
<type 'complex'>

In [55]:
import math

print pi*x+11.0
print x**2
print math.sqrt(3)

20.4245
9
1.73205080757

### Lists
A list is similar to an array in C or Matlab. But it offers a lot more functionalites.

In [37]:
my_empty_list = []
musicians = ['Chris', 'Kurt', 'Dave']
instruments = ['Drums', 'Vocals', 'Guitar']
print musicians

['Chris', 'Kurt', 'Dave']

What makes lists powerful are the built in methods of lists

In [96]:
print len(musicians)
print zip(musicians, instruments)
print musicians * 3

def is_odd(num):
   return num % 2

print filter(is_odd, range(0,10,1),)

3
[('Chris', 'Drums'), ('Kurt', 'Vocals'), ('Dave', 'Guitar')]
['Chris', 'Kurt', 'Dave', 'Chris', 'Kurt', 'Dave', 'Chris', 'Kurt', 'Dave']
[1, 3, 5, 7, 9]

In [36]:
musicians.append('Heino')
print musicians

['Chris', 'Kurt', 'Dave', 'Heino']

### Dictionaries

In [39]:
empty_dict = {}
print type(empty_dict)

<type 'dict'>

In [45]:
car = {'Brand': 'Volkswagen', 
       'Model': 'Golf', 
       'Power': 167.9,
       'Weight': 1500,
      'Serial_Number':0}

In [46]:
car.keys()

['Weight', 'Brand', 'Model', 'Power', 'Serial_Number']

Acessing a dictionary

In [49]:
car['Model']

'Golf'

## Dataflow

## if statement

In [73]:
name = raw_input('Write you name please')
if(len(name)< 5):
    print "Your Name is shorter than 5 Characters"
else:
    print "Your Name is 5 characters long or longer"

Write you name pleaselksadnflkasdlfnlkasdnfÂ¨
Your Name is 5 characters long or longer

### For loops

In [59]:
for index in range(0,3,1):
    print index

0
1
2

In [90]:
my_cars = [{'Brand': 'Tesla', 
       'Model': 'Model-S', 
       'Power': 510.0,
       'Weight': 2100,
      'Serial_Number':0},{'Brand': 'Jaguar', 
       'Model': 'E-Type', 
       'Power': 210.1,
       'Weight': 1300,
      'Serial_Number':0}]

for car in my_cars:
    print car['Model']

Model-S
E-Type

In [91]:
for index, car in enumerate(my_cars):
    print('%s : %s - %s' %(index, car['Brand'], car['Model']))

0 : Tesla - Model-S
1 : Jaguar - E-Type

List comperhension

In [92]:
brands = [car['Brand'] for car in my_cars]
print brands

['Tesla', 'Jaguar']

## Functions

In [77]:
def myfunction(A, B):
    result = A + B
    return result

In [78]:
myfunction(8, 9)

17

Default parameters.

In [79]:
def myfunction_2(A, B, offset = 0):
    result = A + B + offset
    return result

In [82]:
myfunction_2(10,5)

15

In [83]:
myfunction_2(10,5, offset=100)

115

Anonymous functions ... The Lambda operator

In [89]:
map(lambda x : x*2, [1,2,3])

[2, 4, 6]